body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

#info {
  display: none;
}

/* the app - a beer menu / ordering app */
#menu {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 50%;
  left: 50%;
  /* note: the translateZ(0) enables hardware accel */
  /* without it, there is a weird gap between panels */
  -webkit-transform: translate(-50%, -50%) translateZ(0);
          transform: translate(-50%, -50%) translateZ(0);
  height: 80vh;
  width: 53.33333vh;
  border-radius: 2vh;
  overflow: hidden;
  box-shadow: 4vh 7vh 14vh -6vh rgba(0, 0, 0, 0.35), -4vh 7vh 14vh -6vh rgba(0, 0, 0, 0.35);
}

/* the actual order form (not initially visible) */
#order {
  display: none;
  height: 20vh;
}
#order input, #order select, #order option {
  outline: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
#order #choice {
  display: none;
}
#order label[for="quantity"] {
  position: absolute;
  width: 100%;
  top: 7.5vh;
  text-align: center;
  font-size: 10vh;
  line-height: 10vh;
  z-index: 15;
  font-weight: 100;
}
#order #quantity {
  position: absolute;
  top: 20vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 15;
  width: 30vh;
}
#order #quantity::-ms-track {
  width: 30vh;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
#order #quantity::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 3vh;
  height: 4.5vh;
  border-radius: 1.25vh;
  margin-top: -2.25vh;
  box-shadow: 0.25vh 0.25vh 1vh rgba(0, 0, 0, 0.25);
}
#order #quantity::-moz-range-thumb {
  width: 3vh;
  height: 4.5vh;
  border: none;
  border-radius: 1.25vh;
  box-shadow: 0.25vh 0.25vh 1vh rgba(0, 0, 0, 0.25);
}
#order #quantity::-ms-thumb {
  width: 3vh;
  height: 4.5vh;
  border-radius: 1.25vh;
  box-shadow: 0.25vh 0.25vh 1vh rgba(0, 0, 0, 0.25);
}
#order #quantity::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5vh;
  border-radius: 0.25vh;
  margin-top: -0.25vh;
}
#order #table {
  position: absolute;
  border: none;
  background: none;
  font-size: 2.5vh;
  line-height: 2.5vh;
  height: 2.5vh;
  left: 5vh;
  bottom: 11.25vh;
}
#order #table option {
  background: transparent !important;
}
#order #back, #order #submit {
  position: absolute;
  border: none;
  background: none;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
#order #submit {
  right: 5vh;
  bottom: 11.25vh;
  font-size: 2.5vh;
}
#order #back {
  right: 5vh;
  bottom: 6vh;
  font-size: 2.5vh;
}
#order.opt1 {
  background: -webkit-radial-gradient(top left, circle, #dfb361, #dfb361, #d8a33f);
  background: radial-gradient(circle at top left, #dfb361, #dfb361, #d8a33f);
}
#order.opt1 #quantity::-webkit-slider-thumb {
  background: -webkit-linear-gradient(135deg, #b94e2f, #D6795E);
  background: linear-gradient(-45deg, #b94e2f, #D6795E);
}
#order.opt1 #quantity::-moz-range-thumb {
  background: linear-gradient(-45deg, #b94e2f, #D6795E);
}
#order.opt1 #quantity::-ms-thumb {
  background: linear-gradient(-45deg, #b94e2f, #D6795E);
}
#order.opt1 #quantity::-webkit-slider-runnable-track {
  background: #3B3B56;
}
#order.opt1 #quantity::-moz-range-track {
  background: #3B3B56;
}
#order.opt1 #quantity::-ms-track {
  background: linear-gradient(to bottom, transparent 0%, transparent 55%, #3B3B56 55%, #3B3B56 65%, transparent 65%, transparent 100%);
}
#order.opt1 #table {
  color: #F6EC82;
}
#order.opt1 #table option {
  color: #3B3B56;
}
#order.opt1 #back, #order.opt1 #submit, #order.opt1 label {
  color: #3B3B56;
}
#order.opt2 {
  background: -webkit-radial-gradient(top left, circle, #d6795e, #d6795e, #ce5e3d);
  background: radial-gradient(circle at top left, #d6795e, #d6795e, #ce5e3d);
}
#order.opt2 #quantity::-webkit-slider-thumb {
  background: -webkit-linear-gradient(135deg, #743a53, #A75377);
  background: linear-gradient(-45deg, #743a53, #A75377);
}
#order.opt2 #quantity::-moz-range-thumb {
  background: linear-gradient(-45deg, #743a53, #A75377);
}
#order.opt2 #quantity::-ms-thumb {
  background: linear-gradient(-45deg, #743a53, #A75377);
}
#order.opt2 #quantity::-webkit-slider-runnable-track {
  background: #ffffff;
}
#order.opt2 #quantity::-moz-range-track {
  background: #ffffff;
}
#order.opt2 #quantity::-ms-track {
  background: linear-gradient(to bottom, transparent 0%, transparent 55%, #ffffff 55%, #ffffff 65%, transparent 65%, transparent 100%);
}
#order.opt2 #table {
  color: #DFB361;
}
#order.opt2 #table option {
  color: #ffffff;
}
#order.opt2 #back, #order.opt2 #submit, #order.opt2 label {
  color: #ffffff;
}
#order.opt3 {
  background: -webkit-radial-gradient(top left, circle, #a75377, #a75377, #8c4564);
  background: radial-gradient(circle at top left, #a75377, #a75377, #8c4564);
}
#order.opt3 #quantity::-webkit-slider-thumb {
  background: -webkit-linear-gradient(135deg, #1c1c29, #3B3B56);
  background: linear-gradient(-45deg, #1c1c29, #3B3B56);
}
#order.opt3 #quantity::-moz-range-thumb {
  background: linear-gradient(-45deg, #1c1c29, #3B3B56);
}
#order.opt3 #quantity::-ms-thumb {
  background: linear-gradient(-45deg, #1c1c29, #3B3B56);
}
#order.opt3 #quantity::-webkit-slider-runnable-track {
  background: #F6EC82;
}
#order.opt3 #quantity::-moz-range-track {
  background: #F6EC82;
}
#order.opt3 #quantity::-ms-track {
  background: linear-gradient(to bottom, transparent 0%, transparent 55%, #F6EC82 55%, #F6EC82 65%, transparent 65%, transparent 100%);
}
#order.opt3 #table {
  color: #D6795E;
}
#order.opt3 #table option {
  color: #F6EC82;
}
#order.opt3 #back, #order.opt3 #submit, #order.opt3 label {
  color: #F6EC82;
}
#order.opt4 {
  background: -webkit-radial-gradient(top left, circle, #3b3b56, #3b3b56, #2a2a3e);
  background: radial-gradient(circle at top left, #3b3b56, #3b3b56, #2a2a3e);
}
#order.opt4 #quantity::-webkit-slider-thumb {
  background: -webkit-linear-gradient(135deg, #d9d9d9, #ffffff);
  background: linear-gradient(-45deg, #d9d9d9, #ffffff);
}
#order.opt4 #quantity::-moz-range-thumb {
  background: linear-gradient(-45deg, #d9d9d9, #ffffff);
}
#order.opt4 #quantity::-ms-thumb {
  background: linear-gradient(-45deg, #d9d9d9, #ffffff);
}
#order.opt4 #quantity::-webkit-slider-runnable-track {
  background: #DFB361;
}
#order.opt4 #quantity::-moz-range-track {
  background: #DFB361;
}
#order.opt4 #quantity::-ms-track {
  background: linear-gradient(to bottom, transparent 0%, transparent 55%, #DFB361 55%, #DFB361 65%, transparent 65%, transparent 100%);
}
#order.opt4 #table {
  color: #A75377;
}
#order.opt4 #table option {
  color: #DFB361;
}
#order.opt4 #back, #order.opt4 #submit, #order.opt4 label {
  color: #DFB361;
}

/* info panels for each beer */
.panel {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  /* the icon for this beer (initially invisible) */
  /* each panel has its own color scheme */
}
.panel .price {
  font-size: 0;
}
.panel .name, .panel .type, .panel .price, .panel .abv {
  position: absolute;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.panel .name {
  left: 5vh;
  top: 50%;
  margin-top: -2.5vh;
  font-size: 5vh;
  line-height: 5vh;
  font-weight: 300;
}
.panel .type {
  left: 5vh;
  top: 50%;
  margin-top: 2.5vh;
  font-size: 0;
  line-height: 2.5vh;
  font-weight: 100;
}
.panel .price {
  top: 50%;
  left: 5vh;
  margin-top: 20vh;
  line-height: 2.5vh;
  font-weight: 500;
}
.panel .abv {
  top: 50%;
  right: 5vh;
  font-size: 2.5vh;
  line-height: 2.5vh;
  font-weight: 500;
}
.panel svg {
  position: absolute;
  left: 1vh;
  top: 50%;
  margin-top: -10vh;
  height: 20vh;
  fill: none;
  stroke-width: 2%;
  stroke-linejoin: round;
  stroke-linecap: round;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.panel:nth-of-type(1) {
  z-index: 9;
  background: -webkit-radial-gradient(top left, circle, #f6ec82, #f6ec82, #f3e65c);
  background: radial-gradient(circle at top left, #f6ec82, #f6ec82, #f3e65c);
  -webkit-filter: drop-shadow(0 0 1vh #b58325);
          filter: drop-shadow(0 0 1vh #b58325);
}
.panel:nth-of-type(1) h1, .panel:nth-of-type(1) h2, .panel:nth-of-type(1) h3 {
  color: #DFB361;
}
.panel:nth-of-type(1) .price {
  color: #DFB361;
}
.panel:nth-of-type(1) .abv {
  color: #ffffff;
}
.panel:nth-of-type(1) svg {
  stroke: #ffffff;
}
.panel:nth-of-type(2) {
  z-index: 8;
  background: -webkit-radial-gradient(top left, circle, #dfb361, #dfb361, #d8a33f);
  background: radial-gradient(circle at top left, #dfb361, #dfb361, #d8a33f);
  -webkit-filter: drop-shadow(0 0 1vh #a4452a);
          filter: drop-shadow(0 0 1vh #a4452a);
}
.panel:nth-of-type(2) h1, .panel:nth-of-type(2) h2, .panel:nth-of-type(2) h3 {
  color: #D6795E;
}
.panel:nth-of-type(2) .price {
  color: #D6795E;
}
.panel:nth-of-type(2) .abv {
  color: #F6EC82;
}
.panel:nth-of-type(2) svg {
  stroke: #F6EC82;
}
.panel:nth-of-type(3) {
  z-index: 7;
  background: -webkit-radial-gradient(top left, circle, #d6795e, #d6795e, #ce5e3d);
  background: radial-gradient(circle at top left, #d6795e, #d6795e, #ce5e3d);
  -webkit-filter: drop-shadow(0 0 1vh #633146);
          filter: drop-shadow(0 0 1vh #633146);
}
.panel:nth-of-type(3) h1, .panel:nth-of-type(3) h2, .panel:nth-of-type(3) h3 {
  color: #A75377;
}
.panel:nth-of-type(3) .price {
  color: #A75377;
}
.panel:nth-of-type(3) .abv {
  color: #DFB361;
}
.panel:nth-of-type(3) svg {
  stroke: #DFB361;
}
.panel:nth-of-type(4) {
  z-index: 6;
  background: -webkit-radial-gradient(top left, circle, #a75377, #a75377, #8c4564);
  background: radial-gradient(circle at top left, #a75377, #a75377, #8c4564);
  -webkit-filter: drop-shadow(0 0 1vh #11111a);
          filter: drop-shadow(0 0 1vh #11111a);
}
.panel:nth-of-type(4) h1, .panel:nth-of-type(4) h2, .panel:nth-of-type(4) h3 {
  color: #3B3B56;
}
.panel:nth-of-type(4) .price {
  color: #3B3B56;
}
.panel:nth-of-type(4) .abv {
  color: #D6795E;
}
.panel:nth-of-type(4) svg {
  stroke: #D6795E;
}

/* panels get larger and show more info when you hover over them */
.panel:hover {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}
.panel:hover .name {
  left: 15vh;
  margin-top: -3.75vh;
}
.panel:hover .type {
  left: 15vh;
  margin-top: 1.75vh;
  font-size: 2.5vh;
}
.panel:hover .abv {
  margin-top: 1.25vh;
}
.panel:hover svg {
  opacity: 1;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

/* when you click on a panel, the others are hidden */
.panel.hidden {
  -webkit-box-flex: 0.0000000001;
  -webkit-flex-grow: 0.0000000001;
      -ms-flex-positive: 0.0000000001;
          flex-grow: 0.0000000001;
}
.panel.hidden * {
  opacity: 0;
  pointer-events: none;
}

/* when you click on a panel, it becomes active */
.panel.active {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.panel.active svg {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  height: 15vh;
  margin-top: 0;
  left: 2.5vh;
  opacity: 1;
}
.panel.active .name, .panel.active .type, .panel.active .abv, .panel.active .price {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.panel.active .name {
  left: 15vh;
  margin-top: 5vh;
  font-size: 7.5vh;
  font-weight: 100;
}
.panel.active .type {
  font-size: 0;
}
.panel.active .abv {
  margin-top: 20vh;
}
.panel.active .price {
  font-size: 2.5vh;
}
.panel.active:nth-of-type(1) .name, .panel.active:nth-of-type(1) .abv {
  color: #3B3B56;
}
.panel.active:nth-of-type(1) svg {
  stroke: #D6795E;
}
.panel.active:nth-of-type(2) .name, .panel.active:nth-of-type(2) .abv {
  color: #ffffff;
}
.panel.active:nth-of-type(2) svg {
  stroke: #A75377;
}
.panel.active:nth-of-type(3) .name, .panel.active:nth-of-type(3) .abv {
  color: #F6EC82;
}
.panel.active:nth-of-type(3) svg {
  stroke: #3B3B56;
}
.panel.active:nth-of-type(4) .name, .panel.active:nth-of-type(4) .abv {
  color: #DFB361;
}
.panel.active:nth-of-type(4) svg {
  stroke: #ffffff;
}

@media (orientation: landscape) {
  /* put a blurred image in the background, just for pretty presentation */
  body::before {
    content: '';
    display: block;
    height: 100vh;
    width: 100%;
    background: url("http://lorempixel.com/640/480/food") center/cover;
    -webkit-filter: blur(5vh);
            filter: blur(5vh);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0.4;
  }
}
@media (orientation: portrait) {
  #menu {
    border-radius: 0;
    width: 100%;
    height: 100vh;
  }
}
