%main{:rel => 'main'}
  %ul{:role => 'presentation'}
    -(1..4).each do
      %li
  %button
%p.credit 
  Designed by 
  %a{:href => 'https://dribbble.com/bendunn'}Ben Dunn 
  and coded by 
  %a{:href => 'http://codepen.io/Michiel/'}Michiel Bijl