.app
  .content
    .header.hidden
    .button
      .sign-up SIGN UP
      form(class="hidden form")
        input(type='text' placeholder="Username")
        input(type='email' placeholder="Email Id")
        input(type='password' placeholder="Password")
      button.hidden
        span.text DONE