
.wrapper
  .ripple
  .content
    p.header Material design switch
    ul
      li
        p Some Option 1
        input#test(type='checkbox', hidden)
        label.switch(for='test')
      li
        p Some Option 2
        input#test1(type='checkbox', hidden)
        label.switch(for='test1')
      li
        p Some Option 3
        input#test2(type='checkbox', hidden)
        label.switch(for='test2')
  .footer
    button.button.theme(type='button') Switch Theme